<!DOCTYPE html>
<html>
<head>
  <title>shoebox</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/app.css'>
  <link rel='stylesheet' media='(max-width:600px)' href='/css/app-small.css'>
  <link rel='stylesheet' media='(min-width:601px)' href='/css/app-large.css'>
  <link rel='shortcut icon' type='image/x-icon' href='/img/shoebox_main_face.png' />
</head>
<body>
  <div class='container'>
    <div class='collapse navbar-collapse'>
      <ul class='nav nav-tabs'>
        <li><a href='/' alt='home'><img alt='shoebox' src = '/img/sb_tiny.png'></a></li>
        <li><a href='/stores'>Stores</a></li>
        <li><a href='/brands'>Brands</a></li>
      </ul>
    </div>

  <a href="/" alt='home'> <img class='center' src = '/img/leaderboard.png'></a>

  #parse( $template )

  </div>
</body>
</html>
