<!DOCTYPE html>
<html>
<head>
  <title>The Shoe Box</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/app.css'>
</head>
<body>
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>
        <li><a href="/stores">Stores</a></li>
        <li><a href="/brands">Brands</a></li>
      </ul>
    </div>

    #parse( $template )

  </div>
</body>
</html>
